<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/search">搜索</a>
    <form action="/subemail" method="post">
        <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}">
        <h1>订阅</h1>
        <table>
            <tr>
                <td>邮箱:</td>
                <td><input type="text" name="email"></td>
                <td><input type="submit" value="订阅"></td>
            </tr>
        </table>
        <hr>
    </form>
    <form action="/login" method="post" name="login">
        <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}">
        <h1>登陆</h1>
        <table>
            <tr>
                <td>用户名:</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <input type="submit" value="登陆">
        </table>
        <hr>
    </form>
    <form action="/register" method="post" name="register">
        <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}">
        <h1>注册</h1>
        <table>
            <tr>
                <td>用户名:</td>
                <td><input type="text" name="susername"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input type="password" name="spassword"></td>
            </tr>
            <input type="submit" value="注册">
        </table>
        <hr>
    </form>
</body>
</html>